<%include partials/header%>

<link href="home.css" rel="stylesheet">
<div class="container">
    <p>Search for a player or match</p>

    
    <form action="/results" method= "GET">
        <input type="text" name="id" placeholder="Enter Player ID">
    </form>

    <form action="/match" method= "GET">
        <input type="text" name="mid" placeholder="Enter Match ID">
    </form>

    <div class="labelDiv">
        <p class="label">Sample Player ID</p>
        <p class="label">Sample Match ID</p>
    </div>
    <div class="buttonDiv">
        <form action="/results" method= "GET">
            <input type="submit" name ="id" value="70666167">
        </form>

        <form action="/match" method= "GET">
            <input type="submit" fase= "test" value="5105179955" name="mid">
        </form>
    </div>
    

</div>
<%include partials/footer%>
