<%include partials/header%>

<h1>Welcome to DotA search</h1>

  
<form action="/results" method= "GET">

    <input type="text" name="id" placeholder="enter id">
    <input type="submit">

</form>


<form action="/match" method= "GET">

    <input type="text" name="mid" placeholder="enter mid">
    <input type="submit">

</form>

<%include partials/footer%>
