<%include partials/header%>



<div class=container>
    <h1 id=topContain>Match History</h1>
<% id.forEach(match => { %>
    <div class=matchDiv><a href = "/match?mid=<%=match.match_id%>"><%=match.match_id%></a></div>
<%});%>
</div>


<script type="text/javascript" src="results.js"></script>
<%include partials/footer%>

