<%include partials/header%>



<div class=container>
    <h1 id=topContain>Match History</h1>
    <% id.forEach(match => { %>
        <a href = "/match?mid=<%=match.match_id%>">
            <div class=matchDiv>
                <img class = heroI src="<%=match.hero_id.name%>.png">
                
                <div>
                    <p>
                        <%=match.hero_id.localized_name%>
                    </p>
                </div>
            </div>
        </a>
    <%});%>
</div>


<script type="text/javascript" src="results.js"></script>
<%include partials/footer%>

