body{
    background: #536976; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #292e49); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #292e49);

    
    font-family: 'Roboto', sans-serif;
    
}
