body{
    background: #536976; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #292e49); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #292e49);
    
}
.playerdiv{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin: 0 auto ;
    width: 900px;
    height: 100px;
    background: #343447;
    padding: 10px 10px;
    color: #c9c7c7;
}

#innerdiv{
    
    width: 790px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
#namediv{
    margin-right: 700px;
}

.wldivs{
    width: 70px;

    display: flex;
    flex-direction: column;
}

#playerimg{
    width: 100px;
    height: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 10px;
    
    
}

#wins{
    color: green;
}
#losses{
    color: red;
}
#playerrank{
    width: 80px;
    height: 80px;
    margin-left: 500px;
}

.container{
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin: 100px auto ;
    width: 480px;
    
}
#topContain{
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background: #990000;
    color: white;
    width: 450px;
}

.matchDiv{
    color: white;
    padding: 5px 5px;
    
    background: #343447;
    height: 33px;
    width: 480px;
    
}
a{
    height: 25px;
    width: 480px;
    text-decoration: none;
}
p{
    margin: auto 0;
    text-decoration: none;
}

.reverseDiv{
    background: #2B2C3D;
    color: black;
}


.heroI{
    
    float: left;
    margin: 2.5px 5px 2.5px 0;
    width: 48px;
    height: 26px

}
.middleDiv{
    
    margin: 0 auto;
    width: 100px;
    
}
.leftDiv{
    float: left;
}

.win{
    color:green;
}
.lose{
    color: red;
}