body{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
p{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.container{
    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.801);
    margin: 0 auto ;
    padding: 0 0;
    width: 1100px;
    border: 1px solid black;
    
    
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  .navbar { 
    max-height: 40px;
  }
  .form-control{
    max-height: 25px;
  }

.radiant{
    width: 100px;
    font-size: 15px;
    color: rgb(0, 128, 0);
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
    padding-right: 86px;
    text-align: start;
}
.dire{
    width: 100px;
    font-size: 15px;
    color: rgb(255, 0, 0);
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
    padding-right: 86px;
    text-align: start;
}

.topBar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin: 0 auto ;
    width: 1100px;
    box-sizing: content-box;
}
.topBarRight{
    background: #343447;
    border-top: 0.5px solid #2B2C3D;
    border-right: 0.5px solid #2B2C3D;
    border-left: 0.5px solid #2B2C3D;
    border-radius: 5px 5px 0 0;
    
}

.low{
    padding: 0 7px;
}
.addTBPadding{
    padding: 0 17px;
}
.k{
    padding-left: 18px;
}

.team{
    width: 100px;
}

.playerDiv{
    
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    
    margin: 0 0 0 0;
    
    background: #2B2C3D;
    height: 40px;
    width: 1100px;

    font-size: 13px;
    box-sizing: content-box;
  
}
.playerDiv:hover {
    background: #4b4b5e;
    cursor: pointer;
}
.gray{
    background: #4b4b5e;
    
}

.heroI{
    
    padding: 0 0 0 2px;
    margin: 0 0 0 6px;
    width: 44.8px;
    height: 25.2px;
}
#one{
    background: blue;
    color: blue;
}
#two{
    background: turquoise;
    color: turquoise;
}
#three{
    background: purple;
    color: purple;
}
#four{
    background: yellow;
    color: yellow;
}
#five{
    background: orange;
    color: orange;
}
#six{
    background: palevioletred;
    color: palevioletred;
}
#seven{
    background: olive;
    color: olive;
}
#eight{
    background: lightskyblue;
    color: lightskyblue;
}
#nine{
    background: darkgreen;
    color: darkgreen;
}
#ten{
    background: brown;
    color: brown;
}
.rankDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playerrank{
    width:  16px;
    height: 16px;
}
.rankP{
    width: 35px;
    height: 15px;
}


.short{
    width:15px;
}
.medium{
    width:23px;
}
.long{
    width: 33px;
}


.addPadding{
    padding: 0 9px;
}
.slashLeft{
    
    padding-right: 4px;
}
.slashRight{
    padding-right:14px ;
    padding-left: 3px;
}
.laneDiv{
    padding-left: 20px;
    padding-right: 35px;
    font-size: 11px;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.lvlDiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kills{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #228a62;
}
.dnDiv{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0;
    text-align: center;
    justify-content: center;
    color: #8c1d1d;
}
.assists{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e5e5d;
}
.LH{
    height: 100%;
    display: flex;
    align-items: center;
}
.denies{
    height: 100%;
    display: flex;
    align-items: center;
}
.gpm{
    height: 100%;
    display: flex;
    align-items: center;
}
.xpm{
    height: 100%;
    display: flex;
    align-items: center;
}
.HD{
    height: 100%;
    display: flex;
    align-items: center;
}
.TD{
    height: 100%;
    display: flex;
    align-items: center;
}
.G{
    height: 100%;
    display: flex;
    align-items: center;
}

.padRight{
    padding-right: 20px;
}

.reverseDiv{
    background: #343447;
    
}

.playerDivPadding{
    padding: 100px 20px 100px 20px;
}
.itemdiv{
    
    display: flex;
    align-items: center;
    padding: 3px 3px;

    border-radius: 4px;
    
    box-shadow: inset 0 0 3px black;

}

.itemI{
    width: 100%;
    height: 100%;
    padding: 0 0;
    border: 1px solid black;
}

.icon-wrapper{
    width: 35px;
    height: 25px;
    position:relative;
    padding: 0 0;
    margin: 1px 2px;
}
.icon-text{
    position:absolute;
    text-align: center;
    font-size: 9px;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: rgba(0, 0, 0, 0.589);
}



.nameDiv{
    display: flex;
    flex-direction: column;
    font-size: 12;
    padding-left:13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
    text-align: left;
}

.goldDiv{
    color: rgb(255, 165, 0);
}


#chartContain{
    
    background: #2B2C3D;
    margin: 0 auto;
    border: 1px solid black;
    color: white;
    position: relative; 
    height:350px; 
    width: 1100px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.801);
    
}

.invis {
    visibility: hidden;
 }

.extraSpace{
    height: 400px;
}
