.container{
    
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin: 0 auto ;
    width: 900px;
    color: white;
    
}
#topContain{
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background: #990000;
    color: white;
    width: 860px;
}

.team{
    margin:20px 0 0 250px ;
    width: 100px;
}

.playerDiv{
    
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    
    margin: 0 0 0 0;
    
    background: #2B2C3D;
    height: 40px;
    width: 1100px;

    
    
}

.heroI{
    
    padding: 0 5px 0 5px;
    width: 44.8px;
    height: 25.2px;
}

.reverseDiv{
    background: #343447;
    color: black;
}

.playerDivPadding{
    padding: 100px 20px 100px 20px;
}

.nameDiv{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 50px;
}
.laneDiv{
    font-size: 11px;
}
a{
    height: 25px;
    width: 480px;
    text-decoration: none;
}
p{
    margin: 0 0 0 0;
}



